:root {
    --ukuran: 50px;
    --kecepatan: 1.2s;
    --warna: #474554;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e8e8e8;
}

.bandul-newton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--ukuran);
    height: var(--ukuran);
}

.dot-bandul__newton {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 25%;
    transform-origin: center top;
}

.dot-bandul__newton::after {
    content: "";
    display: block;
    width: 100%;
    height: 25%;
    border-radius: 50%;
    background-color: var(--warna);
}

.dot-bandul__newton:first-child {
    animation: melayang var(--kecepatan) linear infinite;
}

.dot-bandul__newton:last-child {
    animation: melayang2 var(--kecepatan) linear infinite;
}

@keyframes melayang {
    0% {
        transform: rotate(0deg);
        animation-timing-function: ease-out;
    }

    25% {
        transform: rotate(70deg);
        animation-timing-function: ease-in;
    }

    50% {
        transform: rotate(0deg);
        animation-timing-function: linear;
    }
}

@keyframes melayang2 {
    0% {
        transform: rotate(0deg);
        animation-timing-function: linear;
    }

    50% {
        transform: rotate(0deg);
        animation-timing-function: ease-out;
    }

    75% {
        transform: rotate(-70deg);
        animation-timing-function: ease-in;
    }
}
